body {
  background: #0d0d0d;
  color: white;
  font-family: Arial, sans-serif;
}

.hero {
  padding: 100px 20px;
  text-align: center;
}

.highlight {
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff;
}

.project-card {
  padding: 15px;
  border: 1px solid #00eaff;
  margin-bottom: 10px;
  border-radius: 8px;
}